<style>
#left_sidebar {
	top: 0;
	bottom: 0;
	left: -300px;
	position: fixed;
	width:300px;
	z-index:9999;
	background-color:#fff;
	border-left:1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border--radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 10px 2px #ddd;
	-moz-box-shadow: 0px 0px 10px 2px #ddd;
	box-shadow: 0px 0px 10px 2px #ddd;
	overflow-x:hidden;
	overflow-y:auto;
}
a {text-decoration: none;color: #337ab7;}
.left-button {
	top: 10px;
	bottom: 0;
	position: fixed;
	border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	padding: 5px 5px;
	cursor: pointer;
}
.hidden {
	display: none;
}
.stop-scroll{
	overflow: hidden;
	height: 100%;
}
</style>
<div id="left_sidebar" style="left: 0px;" class="hidden">
	<div class="sidebar_catelog">
		
	</div>
</div>
<div class="left-button" id="left-menu-btn" style="left: 0px;" onclick="showSidebar()">
	<svg class="icon icon-list2"><use xlink:href="#icon-list2"></use></svg>
</div>

<script>
let showSidebar = function() {
	document.querySelector('#left_sidebar').classList.remove('hidden');
	document.querySelector('.left-button').classList.add('hidden');
	document.querySelector('body').classList.add('stop-scroll');
}
</script>
