<div id="main-content" class="col-2-3">
    <div class="wrap-col">
        <article>
            <div class="heading">
                <h2><a href="./Article/index.html">一城烟火人生</a></h2>
            </div>
            <div class="content">
                <img src="__IMAGE__/img1.jpg" width="250px" height="100px"/>

                <p>
                    生活本来就是平淡中，添加的五味杂陈，苦涩中的甜蜜，负累中的喜悦，矛盾复杂中，道不清，说不明的烟火人生。无止境，贪念里的矛盾生活，得到了，又不珍惜；失去了，又眷恋；飞高了，还期盼那山高；美好了，还想再多些曼妙；人心无休止的念，驾驭在生活上，各钟滋味，在心。生活本来就是平淡中，添加的五味杂陈，苦涩中的甜蜜，负累中的喜悦，矛盾复杂中，道不清，说不明的烟火人生。无止境，贪念里的矛盾生活，得到了，又不珍惜；失去了[...]</p>

            </div>
            <div class="info">
                <p>By Admin on December 01, 2012 - <a href="#">01 Commnets</a></p>
            </div>
        </article>
        <article>
            <div class="heading">
                <h2><a href="#">请说“你好”</a></h2>
            </div>
            <div class="content">
                <img src="__IMAGE__/img2.jpg" width="250px" height="100px"/>

                <p>正坐着的巴黎人，若遇见熟人，微笑着挺一挺背，略仰起头，那一声“Mu'a”只拿上嘴唇和下嘴唇稍微吸吮，啪嗒一下，声音就出来了，换面的时候只侧一下身，再来一下，“Mu'a
                    Mu'a”里都透着矜贵。马赛人民那是凑过来拿嘴实打实亲在脸颊上。这是撑阳伞的女人在微颤的风里线条模糊地散步，却被冲过来的汉子一个熊抱的落差。有天夜里，已经快11点了，我从A线地铁上下来，走回去。我们这一带治安相对好，从没听说有发生抢劫案，但是每个在法国[...]</p>
            </div>
            <div class="info">
                <p>By Admin on December 01, 2012 - <a href="#">01 Commnets</a></p>
            </div>
        </article>
        <article>
            <div class="heading">
                <h2><a href="#">冬天的田野</a></h2>
            </div>
            <div class="content">
                <img src="__IMAGE__/img3.jpg" width="250px" height="100px"/>

                <p>
                    冬天，是万木凋零的季节，而我，却看到了冬天别有一番生机。早晨，推开门一看，呀！远远望去，洁白的霜给田野笼上了一层层美丽的面纱。田垄边，雾气笼罩，给乡村的田野增添了一份朦胧的诗意。沿着小径，漫步在田埂边，一畦畦翠绿的麦苗在寒风中卖弄着轻盈的舞姿，它们以集团军的形式，给冬天的大地泼墨上优美的水墨画背景，满目都是苍翠，令人心旷神怡；一排排桑树叶子全掉光了，剩下干枯的枝条迎接寒风的侵袭，仔细瞧瞧，枝干上布满了蒲公[...]</p>
            </div>
            <div class="info">
                <p>By Admin on December 01, 2012 - <a href="#">01 Commnets</a></p>
            </div>
        </article>
    </div>
</div>
