<!DOCTYPE html>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>博客</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates Designed by Kimmy | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="__CSS__/zerogrid.css">
	<link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/responsive.css">
    <link rel="stylesheet" href="__CSS__/index.css">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script type="text/javascript" src="__JS__/html5.js"></script>
		<script type="text/javascript" src="__JS__/css3-mediaqueries.js"></script>

	<![endif]-->
	
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
