<footer>
    <div class="wrap-footer">
        <div class="row">
            <div class="col-1-3">
                <div class="wrap-col">
                    <div class="box">
                        <div class="heading"><h2>相册</h2></div>
                        <div class="content gallery">
                            <a href="#"><img src="__IMAGE__/img1.jpg" width="120"/></a>
                            <a href="#"><img src="__IMAGE__/img2.jpg" width="120"/></a>
                            <a href="#"><img src="__IMAGE__/img3.jpg" width="120"/></a>
                            <a href="#"><img src="__IMAGE__/img4.jpg" width="120"/></a>
                            <a href="#"><img src="__IMAGE__/img5.jpg" width="120"/></a>
                            <a href="#"><img src="__IMAGE__/img1.jpg" width="120"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    <div class="box">
                        <div class="heading"><h2>关于</h2></div>
                        <div class="content">
                            <img src="__IMAGE__/zerotheme.jpg" style="border: 0px;"/>
                            <p>Html5 Templates created by chinaz. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    <div class="box">
                        <div class="heading"><h2>联系我们</h2></div>
                        <div class="content">
                            <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
                            <p>Website : <a href="http://sc.chinaz.com" target="_blank">sc.chinaz.com</a></p>
                            <p>+1 (123) 444-5677 <br/> +1 (123) 444-5678</p>
                            <p>Address: 123 TemplateAccess Rd1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://www.huiyi8.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</footer>