<script type="text/javascript" src="__JS__/user.js"></script>
<div id="main-content" class="col-2-3">
    <div class="wrap-col">
        <article>
            <div class="heading">
                <h4><a href="###" id="basic">基本信息</a></h4>
            </div>
            <form id="complete-info">
                <div class="content" id="basic-content">
                    <dl>
                        <dt><input name="id" value="{$id}" style="display: none;" /></dt>
                        <dt>姓&nbsp&nbsp名：<input type="text" id="username" name="username" class="username" /></dt>
                        <dt>性&nbsp&nbsp别：<input type="text" name="sex" class="sex" /></dt>
                        <dt>绰&nbsp&nbsp号：<input type="text" name="nickname" class="nickname" /></dt>
                        <dt>海 贼 团：<input type="text" name="team" class="team" /></dt>
                        <dt>故&nbsp&nbsp乡：<input type="text" name="location" class="location" /></dt>
                        <dt>口 头 禅：<input type="text" name="organ" class="organ" /></dt>
                    </dl>
                </div>
                <div class="heading">
                    <h4><a href="###" id="experience">个人经历</a></h4>
                </div>
                <div class="content" id="experience-content">
                    <dl class="title">
                        <dt><input id="count-title" value="1" style="display: none;" />标&nbsp题&nbsp 1：<input type="text" id="experience_title" name="experience_title" class="experience_title" /></dt>
                        <dt class="add">添&nbsp&nbsp加<img src="__IMAGE__/add.jpg" id="add-title" /></dt>
                    </dl>
                </div>
                <div class="heading">
                    <h4><a href="###" id="ability">能力设定</a></h4>
                </div>
                <div class="content" id="ability-content">
                    <dl class="ability">
                        <dt class="fruit">果&nbsp&nbsp实：<input type="text" name="fruit" class="fruit" /></dt>
                        <dt class="skill"><input id="count-skill" value="1" style="display: none;" />能&nbsp力&nbsp 1：<input type="text" name="skill[1]" class="skill" /></dt>
                        <dt class="add">添&nbsp&nbsp加<img src="__IMAGE__/add.jpg" id="add-skill" /></dt>
                    </dl>
                </div>
                <div class="info">
                    <div class="complete"><a href="###" id="save">完成保存</a></div>
                </div>
            </form>
        </article>
    </div>
</div>
