#open-box-login input{
    border: 1px solid #cccccc;
    width: 200px;
    height: 25px;
    margin: 10px 0 0 0;
}
#open-box-login ul.left {
    font-size: 15px;
    float: left;
    padding: 0 0 0 20px;
}
#open-box-login ul.left li.code input{
    width: 100px;
}
#open-box-login ul.left li.status{
    font-size: 13px;
    padding: 0 0 0 70px;
}
#open-box-login ul.left li.status input{
    width: 15px;
    position: relative;
    top: 8px;
    left: -10px;
}
#open-box-login ul.right {
    font-size: 13px;
    float: right;
    padding: 0 50px 0 0;
}
#open-box-login ul.right li{
    padding: 10px 0 0 0;
}
#open-box-login ul.right li a:hover{
    color: orangered;
    text-decoration: underline;
}
#open-box-login img{
    border: 1px solid #000000;
    margin: 10px 0 0 20px;
}


#open-box-register input{
    border: 1px solid #cccccc;
    width: 200px;
    height: 25px;
    margin: 10px 0 0 0;
}
#open-box-register ul.left {
    font-size: 15px;
    float: left;
    padding: 0 0 0 40px;
}
#open-box-register ul.left li.check{
    position: relative;
    left: -14px;
}
#open-box-register ul.left li.code input{
    width: 100px;
}
#open-box-register ul.right {
    font-size: 13px;
    float: right;
    padding: 0 50px 0 0;
}
#open-box-register ul.right li{
    padding: 10px 0 0 0;
}
#open-box-register ul.right li a:hover{
    color: orangered;
    text-decoration: underline;
}
#open-box-register img{
    border: 1px solid #000000;
    margin: 10px 0 0 20px;
}
#loading{
    background: url("../images/loading.gif")no-repeat center 30px;
    font-size: 14px;
    font-weight: bold;
    clear: both;
    text-align: center;
    display: none;
}
