<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<link rel="stylesheet" href="__CSS__/article.css">
<head>
    <include file="Public/public_head" />
</head>
<body>
<div class="wrap-body zerogrid">
    <!--------------Header--------------->
    <include file="Experience/header"/>

    <!--------------Content--------------->
    <section id="content">
        <div class="wrap-content">
            <div class="row block">
                <include file="Experience/main_content"/>
            </div>
        </div>
    </section>

    <!--------------Footer--------------->
    <include file="Public/public_footer"/>

</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>